// about.html
.stats
    padding: 75px 0 50px 
    &__title
        margin-bottom: 10px
        color: #83ac00
        +h-l
        span
            font-size: 30px
            line-height: 1 
        p
            font-size: 16px
    &__text
        font-style: italic 
        padding-right: 10px
.benefits
    &__title
        height: 444px
        padding-top: 130px 
        .h3
            position: relative
            width: 320px
    &__bot
        padding-top: 222px
        .block
            &:before
                background: #e0eef3                 