// fonts
+font(MyriadProRegular, MyriadProRegular)
=myriad
	font-family: 'MyriadProRegular', Arial, sans-serif
+font(MyriadProSemibold, MyriadProSemibold)
=myriad-sb
	font-family: 'MyriadProSemibold', Arial, sans-serif
+font(MyriadProIt, MyriadProIt)
=myriad-i
	font-family: 'MyriadProIt', Arial, sans-serif
	font-style: normal !important
+font(HelveticaNeueCyrBold, HelveticaNeueCyrBold)
=h-b
	font-family: 'HelveticaNeueCyrBold', Arial, sans-serif
+font(HelveticaNeueCyrRoman, HelveticaNeueCyrRoman)
=h-r
	font-family: 'HelveticaNeueCyrRoman', Arial, sans-serif
+font(HelveticaNeueCyrLight, HelveticaNeueCyrLight)
=h-l
	font-family: 'HelveticaNeueCyrLight', Arial, sans-serif	
+font(HelveticaNeueCyrThin, HelveticaNeueCyrThin)
=h-t
	font-family: 'HelveticaNeueCyrThin', Arial, sans-serif	
+font(FarreronsSerifregular, FarreronsSerifregular)
=farrerons
	font-family: 'FarreronsSerifregular', Arial, sans-serif
+font(FarreronsSerifItalic, FarreronsSerifItalic)
=farrerons-i
	font-family: 'FarreronsSerifItalic', Arial, sans-serif	
+font(FarreronsSerifThinItalic, FarreronsSerifThinItalic)
=farrerons-ti
	font-family: 'FarreronsSerifThinItalic', Arial, sans-serif	
+font(FarreronsSerifLightItalic, FarreronsSerifLightItalic)
=farrerons-li
	font-family: 'FarreronsSerifLightItalic', Arial, sans-serif

body
	min-width: 1024px
	+myriad
	font-size: 14px 
	line-height: 1.4
	background: #eef4f6 
p
	letter-spacing: 0.05em 
	line-height: 24px
=ls
	letter-spacing: 1px 	

// common blocks
.container
	position: relative
	padding-top: 84px
	z-index: 1 
.center
	position: relative
	max-width: 980px
	margin: 0 auto
	border: 1px solid rgba(#fff, 0.5)
	border-width: 0 1px
	.center__wrap
		position: relative
		z-index: 5 
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: 25%
		width: 25%
		border: 1px solid rgba(#fff, 0.5)
		border-width: 0 1px
	&:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		right: 25%
		width: 1px
		background: rgba(#fff, 0.5)
	.center__lines
		height: 1500px 
		position: absolute
		bottom: 0
		width: 100%
		height: 1px  
		.line,&:before,&:after
			background:  rgba(#fff, 0.5)
			width: 1px 
			position: absolute
			top: 0 
		.line0
			left: 0 
		.line4
			right: 0
		.line1
			left: 25%
		.line2
			left: 50%
			margin-left: -1px 
		.line3
			left: 75%  
			margin-left: -1px 

		
	.footer &
		&:before, &:after
			display: none	 	 
	+r(1112)
		max-width: 860px 
	+r(1024)
		width: 746px 
.row
	+clr
	&.row_up
		margin-top: -222px 
		.col
			float: none
.col
	width: 25%
	float: left
	&.col_4
		float: right !important
	&.col_3
		margin-left: 50% 
	&.col_2
		margin-left: 25% 
		float: none
.col2
	width: 50%
	float: left
.col3
	width: 75%
	float: left				

.date
	+h-l
	font-size: 10px
	text-transform: uppercase
	color: rgba(#000, 0.5)
	+ls 
.button
	height: 58px
	width: 100%
	background: #006596
	+h-r
	font-size: 11px
	text-transform: uppercase
	color: #fff
	+ls
	+tr(all 200ms)
	&:hover
		background: #004d73
	&.button_white
		color: #006596
		background: #fff
		border: 2px solid #fff
		&:hover
			background: transparent
			color: #fff
	&.button_small
		height: 42px
	.contacts &
		width: 186px					 	    
.forward
	position: relative
	display: inline-block
	margin-right: 17px
	padding-bottom: 1px
	box-shadow: 0 1px 0 rgba(#9ebd2b, 0.5)
	color: #9ebd2b
	+h-r
	font-size: 11px
	text-decoration: none
	text-transform: uppercase
	+ls
	+tr(box-shadow 200ms)
	&:after
		content: ""
		position: absolute
		top: 3px
		right: -17px
		+arr(7, 9, #9ebd2b, r)
	&:hover
		box-shadow: none		
	&:before
		content: "" 
		position: absolute
		top: -15px
		left: -30px
		right: -30px
		bottom: -15px	
	&.forward_blue
		color: #006596
		box-shadow: 0 1px 0 rgba(#006596, 0.5)
		&:after
			+arr(7, 9, #006596, r)
		&:hover
			box-shadow: none		
.back
	position: relative
	display: inline-block
	margin-left: 17px
	text-decoration: none
	color: #9ebd2b
	+h-r
	text-transform: uppercase
	font-size: 11px
	+ls
	box-shadow: 0 1px 0 rgba(#9ebd2b, 0.5)
	&:after
		content: ""
		position: absolute
		top: 3px
		left: -17px
		+arr(7, 9, #9ebd2b, l)	
	&:hover
		box-shadow: none
	&:before
		content: "" 
		position: absolute
		top: -15px
		left: -30px
		right: -15px
		bottom: -15px			
.down
	display: inline-block
	+s(down)
	opacity: 0.5
	+tr(opacity 200ms)
	&:hover
		opacity: 1 
.arr-l
	display: inline-block
	vertical-align: middle
	+arr(7, 9, #106f9d, r)		
	
// btn
.btn
	display: inline-block
	background: transparent
	border: 2px solid #9ebd2b
	height: 42px
	line-height: 40px
	padding: 0 28px
	text-decoration: none
	color: #9ebd2b
	+h-r
	font-size: 11px
	text-transform: uppercase
	+ls
	+transition(color 200ms, background 200ms)
	&:hover
		background: #9ebd2b
		color: #fff
	&.btn_blue
		padding: 0 46px
		border-color: #006596
		color: #006596
		&:hover
			color: #fff
			background: #006596
			.arr-l
				+arr(7, 9, #fff, r)	
		
// titles
.h1
	position: relative
	padding-bottom: 30px 
	margin-bottom: 50px
	color: #006595
	+farrerons
	font-size: 49px
	text-transform: uppercase
	font-weight: normal
	letter-spacing: 0.1em 
	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 0
		width: 0
		+tr(width 200ms 900ms)
		height: 2px
		background: #187ea6
	&.is-animated
		&:after
			width: 135px 	
.h3, .h4
	font-size: 32px
	+farrerons
	text-transform: uppercase
	color: #006596
	font-weight: normal
.h4
	font-size: 30px				  

// box
.box
	position: fixed
	background: rgba(#fff, .9)
	+clr
	z-index: 3
	opacity: 0
	+tr(opacity 200ms)
	&.is-animated
		opacity: 1 
	&.box_top
		top: 0
		left: 0
		right: 0
		height: 85px
		padding: 0 66px 
	&.box_left
		top: 85px
		left: 0
		bottom: 66px
		width: 66px
		+vertical
		cursor: pointer
	&.box_right
		top: 85px
		right: 0
		bottom: 66px
		width: 66px
		+vertical
	&.box_bottom
		bottom: 0
		left: 0
		right: 0
		height: 66px
		padding: 0 66px 
.logo
	float: left
	a
		position: relative
		display: block
		width: 164px
		height: 85px 
		+hide-text
		&:before
			content: ""
			position: absolute
			top: 20px
			left: 0
			+s(logo)
.phone
	float: right
	padding-top: 34px 					     
	a
		font-size: 12px
		+h-r
		color: #9f9f9f
		text-decoration: none
		letter-spacing: 2px
		+tr(color 200ms)
		&:hover
			color: #000
.menu-left
	display: inline-block
	vertical-align: middle
	&__btn
		display: block
		+h-r
		font-size: 11px
		color: #9f9f9f
		text-transform: uppercase
		+ls
		+transform(rotate(-90deg))	
	.menu-left__btn.is-open
		margin-bottom: 18px 		
.menu-btn
	position: relative
	display: inline-block
	margin-top: 30px
	vertical-align: middle
	background: transparent
	height: 20px
	font-size: 0 
	span
		display: inline-block
		width: 33px
		height: 2px
		background: #01719d
		+tr(opacity 200ms)
	&:before
		content: ""
		position: absolute
		top: 0px
		left: 0
		right: 0
		height: 2px 		
		background: #01719d
		+gpu
		+tr(all 200ms)
	&:after
		content: ""
		position: absolute
		top: 18px
		left: 0
		right: 0
		height: 2px
		background: #01719d
		+gpu
		+tr(all 200ms)
	&:hover
		&:before
			top: -2px
		&:after
			top: 20px	  	
	&.is-open
		left: -4px
		span
			opacity: 0
		&:before
			top: 10px
			width: 40px
			+transform(rotate(45deg))
		&:after
			top: 10px
			width: 40px
			+transform(rotate(-45deg))
.copyrights
	float: left
	padding-top: 33px
	+h-r
	font-size: 11px
	color: #9f9f9f
	text-transform: uppercase
	+ls							
.design
	float: right
	padding-top: 18px
	margin: 0 -15px 0 0 
	a
		+h-r
		font-size: 11px
		color: #9f9f9f
		text-decoration: none
		text-transform: uppercase
		+ls
		+tr(color 200ms)
		display: inline-block
		padding: 15px 
		&:hover
			color: rgba(#9f9f9f, 0.7)
.lang
	display: inline-block
	vertical-align: middle
	li:first-child
		a
			top: 0 
	li:last-child
		a
			top: 0 
			
	&:hover
		li:first-child
			a
				top: -10px 
		li:last-child
			a
				top: 10px 

	li
		position: relative
		padding-top: 5px
		text-align: center
		+transition(all .2s linear)
		&:after
			content: ""
			position: absolute
			left: 50%
			top: 0
			width: 33px
			margin-left: -15px
			height: 2px
			background: #01719d
		&:first-child
			padding-right: 0
			&:after
				display: none
		a
			color: #01719d
			opacity: 0.5
			font-size: 13px
			+ls
			text-transform: uppercase
			text-decoration: none
			+tr(all 200ms)
			display: block
			position: relative
			&:hover
				opacity: 0.8  
			&.is-active
				opacity: 1 
				&:hover
					opacity: 0.8  
				
// navigation
.nav
	position: fixed
	top: 85px
	left: 66px
	right: 66px
	bottom: 66px
	background: rgba(#fff, 0.97)
	z-index: 2
	+transform(translateX(-105%))
	+tr(transform 300ms)
	+vertical
	&.is-open
		+transform(translateX(0))	  				
	&__in
		display: inline-block
		vertical-align: middle
.menu
	text-align: center
	&__item
		display: inline-block
		vertical-align: top
		text-align: left
		margin: 0 50px
		.h4
			margin-bottom: 40px
	&__list
		font-size: 11px
		text-transform: uppercase
		& > li
			margin-bottom: 15px 
		a
			text-decoration: none
			+h-l
			+ls
			color: rgba(#006596, .5)
			+tr(color 200ms)
			&:hover
				color: rgba(#006596, 1)	
			&.current
				color: #8eb30a
.inner-nav
	li
		margin-bottom: 28px
		a
			font-size: 11px 
			text-transform: uppercase
			text-decoration: none
			padding-bottom: 2px
			box-shadow: 0 1px 0 rgba(#006595, .5)
			position: relative
			cursor: pointer
			+ls
			+h-l
			color: rgba(#006595, .5)
			+transition(color 200ms, box-shadow 200ms)
			&:hover, &.is-active
				color: #006595
				box-shadow: 0 1px 0 transparent
			&:before
				content: ' '
				position: absolute
				top: -10px 
				bottom: -10px 
				right: -10px 
				left: -10px  
				cursor: pointer
		

// form
.form
	position: relative
	&__row
		margin-bottom: 15px
.help-block
	display: none		 
.input, .textarea
	height: 42px
	width: 100%
	padding: 0 12px
	background: transparent  
	border: 2px solid #fff
	+h-l
	color: #fff
	text-transform: uppercase
	+placeholder
		text-transform: uppercase
		color: rgba(#fff, 0.5)
	&.error
		border-color: #ff6767
		color: rgba(#ff6767, 0.5)
		+placeholder
			color: #ff6767
	.contacts &
		color: #000
		+placeholder
			color: rgba(#000, 0.5)								  		
.textarea
	height: 70px
	padding: 5px 12px 
	resize: none
	
// breadcrumbs
.breadcrumbs
	padding: 50px 0 30px
	ul
		+clr
		li
			float: left
			margin-right: 30px
			a
				font-size: 13px
				color: rgba(#000, 0.3)
				text-decoration: none
				+tr(color 200ms)
				&:hover
					color: rgba(#000, 0.5)
					
// article 
.article
	&__title
		margin-bottom: 20px
		+myriad-sb 
		font-size: 18px
	&__in
		+clr
	&__left
		float: left
		width: 55%
	&__right
		float: right
		width: 33%		
	p
		margin-bottom: 20px
		i
			+myriad-i 
			font-style: normal 
		
// block
.block
	position: relative
	display: block
	height: 444px
	text-decoration: none
	color: #000
	padding: 30px 0 0 36px
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 222px
		background: #FFF
		+tr(background 200ms)		 		 
	p
		position: relative
		line-height: 1.6
	&__number
		position: relative
		margin-bottom: 35px
		font-size: 14px
		color: rgba(#116f9d, 0.5)
		+tr(color 200ms)	
	&__title
		position: relative
		margin-bottom: 20px
		+myriad-sb
		font-size: 18px
		color: #116f9d
		+tr(color 200ms)
		padding-bottom: 20px
		&:before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			height: 2px
			width: 30px 
			background: #9ebd2b
.block[href]
	text-decoration: none
	.block__number
		color: rgba(#116f9d, 0.5)
	.block__title
		color: #116f9d
	&:hover
		&:before
			background: #e2eeb6
		.m-company__number
			color: #9ebd2b
		.m-company__title
			color: #000

// pagination
.pagination
	text-align: right
	margin-bottom: 75px
	ul
		display: inline-block
		font-size: 0
		li
			display: inline-block
			margin-left: 10px
			font-size: 14px
			a
				display: block
				height: 18px
				line-height: 18px 
				padding: 0 5px
				+transition(background 200ms, color 200ms)
				text-decoration: none
				color: #000
				&:hover, &.is-active
					background: #9ebd2b
					color: #fff
					
.reset
	display: inline-block
	+s(reset)

// appearing animation

.animate
	opacity: 0
	+tr(all 300ms) 
	+translate(0,100px)
	&.is-animated
		opacity: 1 
		+translate(0,0)
@for $i from 1 through 20
	.animate_#{$i}
		transition-delay: 300ms*$i!important
		
// block with hidden text
.text-block
	position: relative
	overflow: hidden
	&__btn
		display: inline-block 
		&.is-hide
			display: none
	.js-hdt-btn-hide
		margin-left: 5px
			
								 








































































































