// fonts
+font(MyriadProRegular, MyriadProRegular)
=myriad
	font-family: 'MyriadProRegular', Arial, sans-serif
+font(MyriadProSemibold, MyriadProSemibold)
=myriad-sb
	font-family: 'MyriadProSemibold', Arial, sans-serif
+font(MyriadProIt, MyriadProIt)
=myriad-i
	font-family: 'MyriadProIt', Arial, sans-serif	
+font(HelveticaNeueCyrBold, HelveticaNeueCyrBold)
=h-b
	font-family: 'HelveticaNeueCyrBold', Arial, sans-serif
+font(HelveticaNeueCyrRoman, HelveticaNeueCyrRoman)
=h-r
	font-family: 'HelveticaNeueCyrRoman', Arial, sans-serif
+font(HelveticaNeueCyrLight, HelveticaNeueCyrLight)
=h-l
	font-family: 'HelveticaNeueCyrLight', Arial, sans-serif	
+font(HelveticaNeueCyrThin, HelveticaNeueCyrThin)
=h-t
	font-family: 'HelveticaNeueCyrThin', Arial, sans-serif	
+font(FarreronsSerifregular, FarreronsSerifregular)
=farrerons
	font-family: 'FarreronsSerifregular', Arial, sans-serif
+font(FarreronsSerifItalic, FarreronsSerifItalic)
=farrerons-i
	font-family: 'FarreronsSerifItalic', Arial, sans-serif	
+font(FarreronsSerifThinItalic, FarreronsSerifThinItalic)
=farrerons-ti
	font-family: 'FarreronsSerifThinItalic', Arial, sans-serif	
+font(FarreronsSerifLightItalic, FarreronsSerifLightItalic)
=farrerons-li
	font-family: 'FarreronsSerifLightItalic', Arial, sans-serif

body
	min-width: 1024px
	+myriad
	font-size: 14px 
	line-height: 1.4
	background: #eef4f6 

=ls
	letter-spacing: 1px 	

// common blocks
.container
	position: relative
	padding-top: 84px
	z-index: 1 
.center
	max-width: 980px
	margin: 0 auto
	+r(1112)
		max-width: 860px 
	+r(1024)
		width: 746px 
.row
	+clr
.col
	width: 25%
	float: left
.col2
	width: 50%
	float: left
.col3
	width: 75%
	float: left				

.button
	height: 58px
	width: 100%
	background: #006596
	+h-r
	font-size: 11px
	text-transform: uppercase
	color: #fff
	+tr(all 200ms)
	&:hover
		background: #004d73
	&.button_white
		color: #006596
		background: #fff
		border: 2px solid #fff
		&:hover
			background: transparent
			color: #fff 	    
.forward
	position: relative
	display: inline-block
	padding-right: 17px 
	color: #9ebd2b
	+h-r
	font-size: 11px
	text-transform: uppercase
	+ls
	&:after
		content: ""
		position: absolute
		top: 3px
		right: 0
		+arr(7, 9, #9ebd2b, r)
	&:hover
		text-decoration: none
	&.forward_blue
		color: #006596
		&:after
			+arr(7, 9, #006596, r)	
.down
	display: inline-block
	+s(down)
	opacity: 0.5
	+tr(opacity 200ms)
	&:hover
		opacity: 1 
.arr-l
	display: inline-block
	vertical-align: middle
	+arr(7, 9, #106f9d, r)		
	
// btn
.btn
	display: inline-block
	background: transparent
	border: 2px solid #9ebd2b
	height: 42px
	line-height: 42px
	padding: 0 28px
	text-decoration: none
	color: #9ebd2b
	+h-r
	font-size: 11px
	text-transform: uppercase
	+ls
	+transition(color 200ms, background 200ms)
	&:hover
		background: #9ebd2b
		color: #fff
	&.btn_blue
		padding: 0 46px
		border-color: #006596
		color: #006596
		&:hover
			color: #fff
			background: #006596
			.arr-l
				+arr(7, 9, #fff, r)	
		
// titles
.h2
	position: relative
	padding-bottom: 30px 
	margin-bottom: 50px
	color: #006595
	+farrerons
	font-size: 49px
	text-transform: uppercase
	font-weight: normal
	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 0
		width: 135px
		height: 2px
		background: #187ea6
.h3, .h4
	font-size: 32px
	+farrerons
	text-transform: uppercase
	color: #006596
	font-weight: normal
.h4
	font-size: 30px				  

// box
.box
	position: fixed
	background: rgba(#fff, .9)
	+clr
	z-index: 3
	&.box_top
		top: 0
		left: 0
		right: 0
		height: 85px
		padding: 0 66px 
	&.box_left
		top: 85px
		left: 0
		bottom: 66px
		width: 66px
		+vertical
	&.box_right
		top: 85px
		right: 0
		bottom: 66px
		width: 66px
		+vertical
	&.box_bottom
		bottom: 0
		left: 0
		right: 0
		height: 66px
		padding: 0 66px 
.logo
	float: left
	padding-top: 20px
	a
		display: block
		+hide-text
		+s(logo)
.phone
	float: right
	padding-top: 34px 					     
	a
		font-size: 12px
		+h-r
		color: #9f9f9f
		text-decoration: none
		letter-spacing: 2px
		+tr(color 200ms)
		&:hover
			color: #000
.menu-btn
	position: relative
	display: inline-block
	vertical-align: middle
	background: transparent
	height: 20px
	font-size: 0 
	span
		display: inline-block
		width: 33px
		height: 2px
		background: #01719d
		+tr(opacity 200ms)
	&:before
		content: ""
		position: absolute
		top: 0px
		left: 0
		right: 0
		height: 2px 		
		background: #01719d
		+tr(all 200ms)
	&:after
		content: ""
		position: absolute
		top: 18px
		left: 0
		right: 0
		height: 2px
		background: #01719d
		+tr(all 200ms)
	&:hover
		span
			background: #01719d 	
	&.is-open
		span
			opacity: 0
		&:before
			top: 10px
			width: 40px
			+transform(rotate(45deg))
		&:after
			top: 10px
			width: 40px
			+transform(rotate(-45deg))
.copyrights, .design
	float: left
	padding-top: 33px
	+h-r
	font-size: 11px
	color: #9f9f9f
	text-transform: uppercase
	+ls							
.design
	float: right
.lang
	display: inline-block
	vertical-align: middle
	li
		position: relative
		padding-top: 5px
		text-align: center
		&:after
			content: ""
			position: absolute
			left: 50%
			top: 0
			width: 33px
			margin-left: -15px
			height: 2px
			background: #01719d
		&:first-child
			padding-right: 0
			&:after
				display: none
		a
			color: #01719d
			opacity: 0.5
			font-size: 13px
			+ls
			text-transform: uppercase
			text-decoration: none 
			&.is-active
				opacity: 1 
				
// navigation
.nav
	position: fixed
	top: 85px
	left: 66px
	right: 66px
	bottom: 66px
	background: rgba(#fff, 0.97)
	z-index: 2
	+transform(translateX(-105%))
	+tr(transform 300ms)
	+vertical
	&.is-open
		+transform(translateX(0))	  				
	&__in
		display: inline-block
		vertical-align: middle
.menu
	text-align: center
	&__item
		display: inline-block
		vertical-align: top
		text-align: left
		margin: 0 50px
		.h4
			margin-bottom: 40px
	&__list
		font-size: 11px
		text-transform: uppercase
		& > li
			margin-bottom: 15px 
		a
			text-decoration: none
			+h-l
			+ls
			color: rgba(#006596, .5)
			+tr(color 200ms)
			&:hover
				color: rgba(#006596, 1)	
			&.current
				color: #8eb30a
.inner-nav
	li
		margin-bottom: 28px
		a
			font-size: 11px 
			text-transform: uppercase
			text-decoration: none
			padding-bottom: 2px
			box-shadow: 0 1px 0 rgba(#006595, .5)
			+ls
			+h-l
			color: rgba(#006595, .5)
			+transition(color 200ms, box-shadow 200ms)
			&:hover
				color: #006595
				box-shadow: 0 1px 0 transparent
		

// form
.form
	position: relative
	&__row
		margin-bottom: 15px
.help-block
	display: none		 
.input, .textarea
	height: 42px
	width: 100%
	padding: 0 12px
	background: transparent  
	border: 2px solid #fff
	+h-l
	color: #fff
	text-transform: uppercase
	+placeholder
		text-transform: uppercase
		color: rgba(#fff, 0.5)
	&.error
		border-color: #ff6767
		color: rgba(#ff6767, 0.5)
		+placeholder
			color: #ff6767						  		
.textarea
	height: 70px
	padding: 5px 12px 
	resize: none
	
// breadcrumbs
.breadcrumbs
	padding: 50px 0 30px
	ul
		+clr
		li
			float: left
			margin-right: 30px
			a
				font-size: 13px
				color: rgba(#000, 0.3)
				text-decoration: none
				+tr(color 200ms)
				&:hover
					color: rgba(#000, 0.5)
					
// article
.article
	&__title
		margin-bottom: 20px
		+myriad-sb
		font-size: 18px
	&__in
		+clr
	&__left
		float: left
		width: 55%
	&__right
		float: right
		width: 33%		
	p
		margin-bottom: 20px
		i
			+myriad-i 
		
// block
.block
	position: relative
	display: block
	height: 444px
	text-decoration: none
	color: #000
	padding: 30px 0 0 36px
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 222px
		background: #FFF
		+tr(background 200ms)		 		 
	p
		position: relative
		line-height: 1.6
	&__number
		position: relative
		margin-bottom: 35px
		font-size: 14px
		color: rgba(#116f9d, 0.5)
		+tr(color 200ms)	
	&__title
		position: relative
		margin-bottom: 20px
		+myriad-sb
		font-size: 18px
		color: #116f9d
		+tr(color 200ms)
		padding-bottom: 20px
		&:before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			height: 2px
			width: 30px 
			background: #9ebd2b
.block[href]
	text-decoration: none
	.block__number
		color: rgba(#116f9d, 0.5)
	.block__title
		color: #116f9d
	&:hover
		&:before
			background: #e2eeb6
		.m-company__number
			color: #9ebd2b
		.m-company__title
			color: #000							 					








































































































