// styles for geography page
.geography
    position: relative
    overflow: hidden
.map
    position: relative
    height: 1335px
    &__in
        position: absolute
        top: 0
        bottom: 0
        width: 1495px
    &__img
        font-size: 0        