// Normally mainpage styles

// container index
.container_index

	background: url(../img/europe.jpg) 100% 560px no-repeat
	+rh(900)
		background-position: 100% 460px
	+r(1024) 
		background-position: 130px 300px	

// footer
.footer
	position: relative
	padding: 0 66px 66px
	z-index: 2
	&__in 
		padding: 80px 0 60px  
		background: rgba(#fff, 0.9)
	&__title	
		margin-bottom: 25px
		font-size: 12px
		text-transform: uppercase
		color: rgba(#006596, .9)
		letter-spacing: 2px
		&.is-active
			color: #8fb40a
	&__list
		li
			margin-bottom: 13px
			a
				font-size: 11px
				+ls
				+h-l
				text-transform: uppercase
				text-decoration: none
				color: rgba(#006596, .5)
				+tr(color 200ms)
				&:hover
					color: rgba(#006596, 1) 
				&.is-active
					color: #8fb40a	
.contacts
	&__info
		margin-bottom: 25px 
		p
			margin-bottom: 5px
		p, a
			font-size: 11px
			text-transform: uppercase
			+ls
			color: rgba(#404040, .5)
			+h-l
			font-size: 11px
			text-decoration: none
		a
			font-size: 12px
.center>*
	position: relative
	z-index: 1			
// topper			
.topper
	margin-top: 7%
	padding-bottom: 200px
	.col
		&.animate_5
			+translate(-100px,100px)
			&.is-animated
				+translate(0,0)
		&.animate_8
			+translate(100px,100px)
			&.is-animated
				+translate(0,0)		
	.center__wrap
		background: url(../img/img1.jpg) 100% 0 no-repeat
		+rh(860)
			background-size: 40% auto
	+rh(960)
		margin-top: 6%
	+rh(900)
		margin-top: 3%	
	+rh(860)
		margin-top: 7%
		background-size: 40% auto
	+rh(800)
		margin-top: 5%
	+rh(768)
		margin-top: 2%		
	.h2
		margin-bottom: 5%
		+rh(860)
			margin-bottom: 10px
			padding-bottom: 20px 
	&__about
		margin-bottom: 10%
		+rh(860)
			margin-bottom: 3%
		.col
			font-size: 0
		.col2
			p
				margin-bottom: 20px
	&__services
		margin-bottom: 5%
		+rh(768)
			margin-bottom: 0
		a
			position: relative
			display: inline-block
			font-size: 12px
			+h-b
			color: #01729d
			text-transform: uppercase
			letter-spacing: 2px
			text-decoration: none
			padding: 0 15px 15px
			margin: -15px  
			&:before
				content: ""
				position: absolute
				top: 22px
				left: 15px
				+tr(opacity 200ms)
			&:after
				content: ""
				position: absolute
				top: 22px
				left: 15px
				opacity: 0
				+tr(opacity 200ms)
			span
				line-height: 2
				padding-bottom: 4px 
				box-shadow: 0 1px 0 #bfdae4
				+tr(all 200ms)
			&.freight 
				padding-top: 90px
				&:before
					+s(freight)
				&:after
					+s(freight-h)
			&.flying
				padding-top: 90px
				&:before
					+s(flying)
				&:after
					+s(flying-h)
			&.shipping
				padding-top: 90px
				&:before
					+s(shipping)
				&:after
					+s(shipping-h)
			&.custom
				padding-top: 90px
				&:before
					+s(custom)
				&:after
					+s(custom-h)				
			&:hover
				color: #95b716
				&:before
					opacity: 0
				&:after
					opacity: 1
				span
					box-shadow: 0 0 0 #bfdae4					
	&__down
		text-align: center
		+r(1366)
			display: none		
.cloud1
	position: absolute
	right: 0
	top: 0
	margin-right: 350px
	z-index: 2
	+r(1440)
		margin-right: 250px
	+r(1200)
		margin-right: 200px
	+r(1024)
		margin-right: 100px	 	
	&.alt
		top: -800px 
.cloud2
	position: absolute
	left: 0
	bottom: -50px
	margin-left: 500px
	z-index: 2
	+r(1440)
		margin-left: 300px
	+r(1200)
		margin-left: 200px
	+r(1024)
		margin-left: 100px 	
	&.alt
		top: -800px 
		bottom: auto
// m-geography
.m-geography
	position: relative
	overflow: hidden		 	
	&__text
		width: 380px
		p
			margin-bottom: 10px
	&__next
		padding: 94px 0 236px
		text-align: right
		.btn
			width: 25%
			padding: 0
			text-align: center  
.geoblock
	// background: red 
		
// m-company
.m-company
	margin-bottom: 80px
	.col
		+r(1024)
			width: 33.3%
			&.last
				float: right
				.m-company__col
					display: none
	&__main
		position: relative
		display: block
		text-decoration: none
		color: #000
		padding-top: 55px
		padding-bottom: 55px
		.h3
			margin-bottom: 20px
		&:before
			content: ""
			position: absolute
			top: 0
			left: -48px
			bottom: 0
			width: 338px
			border: 8px solid transparent
			+tr(border-color 200ms 600ms)
			display: none
		.b
			width: 0
			height: 0
			background: #fff   
			position: absolute
			+tr(all 1000ms 1400ms)
		.tr,.tb
			top: 0
			left: -48px
		.br,.bt 
			bottom: 0
			right: -46px 
		.tr,.br
			height: 8px  
		.tb,.bt
			width: 8px
		&.animate
			+tr(all 400ms) 
			+translate(-50px,150px)
			&.is-animated
				+translate(0,0)	 
		&.is-animated
			&:before
				border-color: #f00	
				opacity: .4 
			.tr,.br
				width: 338px 
			.tb,.bt
				height: 100%  	
	&__about
		position: relative
		width: 190%
		+myriad-sb
		margin-bottom: 90px
	&__distance
		margin-bottom: 90px
		color: #3181a9
		opacity: 0.5
		span
			font-size: 14px
			font-style: italic
		p
			font-size: 36px
			+h-t
	&__col
		position: relative
		display: block
		text-decoration: none
		color: #000
		padding: 30px 0 0 36px
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			height: 222px
			background: #FFF
			+tr(background 200ms)
		&:hover
			&:before
				background: #e2eeb6
			.m-company__number
				color: #9ebd2b
			.m-company__title
				color: #000
		&.animate
			+tr(all 400ms) 					 	
		&.first
			margin-top: 222px
			&.animate
				+translate(50px,30px)
				&.is-animated
					+translate(0,0)
		&.last
			&.animate
				+translate(-50px,30px)
				&.is-animated
					+translate(0,0)					 
		& > p
			position: relative
			line-height: 1.6 
	&__number
		position: relative
		margin-bottom: 35px
		font-size: 14px
		color: rgba(#116f9d, 0.5)
		+tr(color 200ms)
	&__title
		position: relative
		margin-bottom: 20px
		+myriad-sb
		font-size: 18px
		color: #116f9d
		+tr(color 200ms)
		padding-bottom: 20px
		&:before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			height: 2px
			width: 30px 
			background: #9ebd2b
	&__more
		padding-left: 30px
		height: 222px 
		+vertical
		a
			display: inline-block
			vertical-align: middle
			padding: 20px 0 20px 20px
			font-size: 28px
			+farrerons-i
			line-height: 1 
			font-style: normal
			color: #006596
			text-align: left
			&:hover
				text-decoration: none
		&.animate
			+translate(100px,0)
			&.is-animated
				+translate(0,0)		

.m-media
	position: relative
// m-news
.m-news
	position: relative
	+r(1024)
		width: 60%
	.slick-dots
		bottom: -76px
		left: -122px
		z-index: 101 
	&__date
		position: relative 
		height: 294px
		margin-top: 97px
		&.animate
			+translate(0,-100px)
			&.is-animated
				+translate(0,0)
	&__text
		&.animate
			+translate(100px,0)
			&.is-animated
				+translate(0,0)			
	&__date-img
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		font-size: 0
		img
			width: 100%
			height: 100%
		&:before
			content: ""
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
			background: rgba(#006596, 0.9)
			z-index: 1
	&__date-number
		position: absolute
		top: 0
		bottom: 60px
		right: 0
		left: 0
		font-size: 24px
		color: #fff
		text-decoration: none
		text-align: center
		z-index: 2
		span
			font-size: 120px
			+farrerons-ti
		p
			+farrerons-li		
	&__article
		position: relative
		display: block
		height: 294px!important
		padding: 50px 0 0 36px
		text-decoration: none
		color: #000  
		background: #fff
		+tr(background 200ms)
		&:hover
			background: #e2eeb6 
	&__title
		margin-bottom: 20px
		font-size: 18px
		color: #116f9d
		+myriad-sb
		& > p
			line-height: 1.6 	   
	.h3
		position: absolute
		top: 45px
		left: 25px
		text-decoration: none
		z-index: 2
	.forward
		position: absolute
		bottom: 40px
		left: 280px
		z-index: 2

// m-articles
.m-articles
	position: relative
	padding-left: 100px
	padding-right: 66px
	.h3
		display: inline-block
		text-decoration: none
	+r(1024)
		width: 40% 
		padding-left: 32px 
		padding-right: 0
	&:before
		content: ""
		position: absolute
		top: 55px
		left: 100px
		right: -44px
		bottom: 0 
		background: url(../img/img3.jpg) 100% 0 no-repeat
		+r(1024)
			left: 77px
			right: -73px
	&__list
		position: relative
		padding-top: 34px
		& > li
			margin-bottom: 30px
			& > a
				display: block
				text-decoration: none
	&__date
		margin-bottom: 15px
		color: rgba(#000, .5)
		font-size: 10px
		text-transform: uppercase
		+h-l
		+ls
	&__more
		padding: 40px 68px 60px 0
		text-align: right
		+r(1024)
			padding: 40px 0 60px 0 
	&__text
		line-height: 1.7	
		
// m-form
.m-form
	position: relative
	top: -100px
	width: 492px
	margin: 0 auto
	text-align: center
	+perspective(800px)
	z-index: 2
	&.animate
		+translate(-100px,0)
		&.is-animated
			+translate(0,0)
	&__in
		position: relative
		min-height: 58px
		+transform-style(preserve-3d)
		+transition(all 400ms)
		&.is-open
			min-height: 555px
			+rotateX(180deg)
			&.is-success
				min-height: 324px
	&__front
		position: absolute
		top: 0
		left: 0
		width: 492px
		+backface-visibility(hidden)
		+gpu
	&__back
		position: absolute
		top: 50%
		left: 0
		margin-top: -277px 
		width: 492px
		height: 555px
		padding: 64px 74px
		text-align: left 
		+backface-visibility(hidden)
		+rotateX(180deg)
		background: #006596
		&.is-success
			height: 324px
			margin-top: -162px  
		.h3
			color: #fff
			margin-bottom: 40px
		.button
			height: 42px
	&__step1
		&.is-hidden
			display: none
	&__step2
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		padding-top: 70px
		text-align: center
		&.is-hidden
			opacity: 0
			visibility: hidden 
		.h3
			margin-bottom: 30px
		& > p
			margin-bottom: 15px
			font-size: 12px
			line-height: 2.4
			+ls 
			+h-l
			color: rgba(#fff, .5)
			text-transform: uppercase
.return
	+s(return)
	&.return_green
		+s(return_green)	 					
		

			

  			


















































































































































































































