// styles for news pages
.news
    position: relative
    z-index: 2
    .filters
        position: absolute
        top: -65px
        left: 50%   
    &__in
        margin-right: -8%
        font-size: 0
    &__block
        display: inline-block
        vertical-align: top
        width: 33%
        padding-right: 8%
        margin-bottom: 60px
        font-size: 14px
        +box
        &:nth-child(6n+1), &:nth-child(6n+2), &:nth-child(6n+3)
            .news__item
                left: -42px
    &__item
        position: relative
        display: block
        text-decoration: none
        &:hover
            .news__text
                background: #e2eeb6
                color: #000
        &.is-white
            .news__text
                background: #fff
            &:hover
                .news__text
                    background: #e2eeb6
                    color: #000                      
        .date
            margin-bottom: 15px
    &__img
        font-size: 0
        img
            width: 100%
            height: auto
    &__text
        padding: 20px 20px 40px
        +transition(background 200ms, color 200ms)
        color: #006596
.filters
    +clr
    // margin-left: -28px
    +r(1112)
        margin-left: 0
    li
        float: left
        margin-right: 25px
        a
            text-decoration: none
            color: rgba(#9ebd2b, 0.5)
            +tr(color 200ms)
            +h-l
            font-size: 14px
            &:hover
                color: #9ebd2b
            &.is-active
                color: #9ebd2b
    .articles &
        text-align: left
        margin-left: 245px 
        display: block !important
        +r(1112)
            margin-left: 215px 
        
// post
.post
    position: relative
    z-index: 2
    margin-bottom: 15px
    &__content
        position: relative
        top: -60px
        margin-bottom: -60px
        .h3
            position: relative
            left: -25%
            margin-bottom: 10px
            width: 125%
    &__article
        padding-top: 30px
        +clr
        img
            position: relative
            left: -40px
            float: left
            width: 50%
            margin-bottom: 60px
        p
            margin-bottom: 25px
            line-height: 1.6
            strong
                font-size: 18px
                +myriad-sb
        h4
            margin-bottom: 25px
            font-size: 34px
            +farrerons
            font-weight: normal        
        &.right
            img
                float: right
                left: 0
                width: 50%
                margin-left: 44px      
    &__date
        padding-top: 21px 
    &__title
        position: relative
        z-index: 2
    &__back
        padding: 40px 0
        
.articles
    position: relative
    top: -65px
    &__topper
        margin-bottom: 55px
        text-align: center
        .filters
            display: inline-block
    &__item
        position: relative
        display: block
        +clr
        margin-bottom: 55px
        text-decoration: none
        &:before
            content: ""
            position: absolute
            top: 15px
            left: 15px
            right: 0
            bottom: -15px
            background: #fff
            opacity: 0
            +tr(opacity 200ms)
        &:hover
            &:before
                opacity: 1
            .articles__title
                color: #000                                      
    &__img
        position: relative 
        font-size: 0
        float: left
        width: 33.3%
        margin-right: 2.7%
        img
            width: 100%
    &__content
        position: relative
        float: left
        width: 64%
        padding-top: 25px
    &__title
        position: relative
        left: -55px
        margin-bottom: 15px
        font-size: 18px
        +myriad-sb
        color: #006596
        +tr(color 200ms)
        z-index: 2
    &__text
        color: #000
        margin-bottom: 20px          

                               