// styles for services pages
.container_services
	background: url(../img/img15.jpg)
	+cover
	background-attachment: fixed
.services
	position: relative
	padding: 100px 0 120px 
	z-index: 2
	.col
		+rh(650)
			&.animate_6
				transition-delay: 300ms!important
			&.animate_7
				transition-delay: 600ms!important
			&.animate_8
				transition-delay: 900ms!important
			&.animate_9
				transition-delay: 1200ms!important		
	&__item
		position: relative
		padding-left: 37px
		&:before
			content: ""
			position: absolute
			top: 7px
			left: 0
			height: 2px
			width: 18px
			background: #84ac00  
		 