// styles for services pages
.container_services
	background: url(../img/img15.jpg)
	+cover
	background-attachment: fixed
.services
	position: relative
	padding: 100px 0 120px 
	z-index: 2
	.col
		&.animate_1
			+translate(-100px,100px)
			&.is-animated
				+translate(0,0)
		&.animate_4
			+translate(100px,100px)
			&.is-animated
				+translate(0,0)	
	&__item
		position: relative
		padding-left: 37px
		&:before
			content: ""
			position: absolute
			top: 7px
			left: 0
			height: 2px
			width: 18px
			background: #84ac00  
		 